<html>
<% include meta.ejs %>
<body>
<% include nav.ejs %>
<% for(let i = page * perpage - perpage; i < page * perpage; i++) { %>
<div class="lb">
<p class="avatar">
<img src="<%= api.lb[i] ? api.lb[i].user_avatar : 'https://cdn.glitch.com/5cd14449-e75f-4a5a-8d5c-6a371554e2f5%2F6debd47ed13483642cf09e832ed0bc1b.png?v=1568149348485' %>" onerror="this.src='https://cdn.glitch.com/5cd14449-e75f-4a5a-8d5c-6a371554e2f5%2F6debd47ed13483642cf09e832ed0bc1b.png?v=1568149348485';" alt="<%= (api.lb[i] ? api.lb[i].user_tag : 'Unknown User') || 'Unknown User' %> - <%= (api.lb[i] ? api.lb[i].user_id : 'Unknown ID') || 'Unknown ID' %>" class="avatar"/>
<b><%= api.lb[i] ? api.lb[i].rank : i + 1%>. <%= (api.lb[i] ? api.lb[i].user_tag : 'Unknown User') || 'Unknown User' %></b>
- <%= api.lb[i] ? api.lb[i].money.toLocaleString() : 0 %> <%= api.sign %></p>
<hr class="lb">
</div>
<% } %>
<footer class="page"><p>
<b>
<% if (page > 1) { %>
<a href="1" class="page">&#8810</a>
<a href="<%= (page - 1) %>" class="page">&#65124</a>
<% } %>
<%= `Page ${page}/${pages}` %>
<% if (page !== pages) { %>
<a href="<%= (page + 1) %>" class="page">&#65125</a>
<a href="<%= pages %>" class="page">&#8811</a>
<% } %>
</b>
</p>
</footer>
</body>
</html>